
.twtr-widget {
    font-family: "lucida grande",lucida,tahoma,helvetica,arial,sans-serif !important;
    font-size: 12px !important;
    position: relative;
}
element.style {
    width: 180px;
}
#twtr-widget-1 .twtr-doc, #twtr-widget-1 .twtr-hd a, #twtr-widget-1 h3, #twtr-widget-1 h4 {
    background-color: #333333 !important;
    color: #FFFFFF !important;
}
.twtr-doc {
    border-radius: 5px 5px 5px 5px;
    font-weight: normal;
    overflow: hidden;
    text-align: left;
    width: 100%;
}
.twtr-hd {
    overflow: hidden;
    padding: 10px;
    position: relative;
}

.twtr-doc a {
    text-decoration: none !important;
}

.twtr-widget-profile img.twtr-profile-img {
    border: 0 none !important;
    display: block;
    float: left;
    height: 31px;
    width: 31px;
}
.twtr-widget a img {
    border: 0 none !important;
}

.twtr-widget h3 {
    font-size: 11px !important;
    font-weight: normal !important;
}
.twtr-widget-profile h3, .twtr-widget-profile h4 {
    margin: 0 0 0 40px !important;
}
.twtr-widget h3, .twtr-widget h4, .twtr-widget p {
    line-height: 1.2 !important;
    margin: 0 !important;
    padding: 0 !important;
    width: auto !important;
}

.twtr-widget-profile h3, .twtr-widget-profile h4 {
    margin: 0 0 0 40px !important;
}

.twtr-widget h4 {
    font-size: 16px !important;
}

#twtr-widget-1 .twtr-bd, #twtr-widget-1 .twtr-timeline i a, #twtr-widget-1 .twtr-bd p {
    color: #000000 !important;
}
.twtr-bd {
    padding: 0 1px;
}
.twtr-ft {
    position: relative;
}
.twtr-ft div span a{
    margin-left: 10px;
}

#twtr-widget-1 .twtr-new-results, #twtr-widget-1 .twtr-results-inner, #twtr-widget-1 .twtr-timeline {
    background: none repeat scroll 0 0 #FFFFFF !important;
}
.twtr-scroll .twtr-timeline {
    overflow-x: hidden;
    overflow-y: auto;
}
.twtr-timeline {
    border-radius: 6px 6px 6px 6px;
    height: 225px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.twtr-widget .twtr-tweet {
    border-bottom: 1px dotted #DDDDDD;
    overflow: hidden;
}

.twtr-widget .twtr-tweet-wrap {
    overflow: hidden;
    padding: 6px 8px;
}


#twtr-widget-1 .twtr-avatar {
    display: none;
}
.twtr-avatar {
    display: block;
    float: left;
    height: 40px;
    overflow: hidden;
    width: 40px;
}

#twtr-widget-1 .twtr-tweet-text {
    margin-left: 0;
}
.twtr-tweet-text {
    margin-left: 40px;
}

.twtr-img {
    height: 25px;
    width: 25px;
}


#twtr-widget-1 .twtr-tweet a {
    color: #4169e1 !important;
}

.twtr-widget a img {
    border: 0 none !important;
}
.twtr-img img {
    height: 30px;
    width: 30px;
}

.twtr-widget em, .twtr-widget .twtr-new-results {
    font-size: 9px;
    font-style: normal;
}

